[submodule "frontend"]
	path = frontend
	url = http://github.com/renaudf/scaffold-frontend
	branch = master
[submodule "backend"]
	path = backend
	url = http://github.com/renaudf/scaffold-backend
	branch = master
